IPHONEOS_DEPLOYMENT_TARGET = 18.0
SWIFT_VERSION = 6.0
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
OTHER_SWIFT_FLAGS = $(inherited) -enable-upcoming-feature ExistentialAny
